/* Google web fonts Poppins */

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fredoka+One&family=Poppins:wght@300;400;500;600;700&display=swap');

/*
    Custom Properties
*/

:root {
    --fuentePrincipal: 'Poppins', sans-serif;
    --colorPrimario: #01fc7e;
    --colorNegro: #000000;
    --colorBlanco: #FFFFFF;
    --colorGrisOscuro: #2c2c2cde;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fuentePrincipal);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorGrisOscuro);
}

section {
    position: relative;
    width: 1080px;
    height: 450px;
    display: flex;
    align-items: center;
}

.swiper {
    width: 950px;
}

section .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background-color: var(--colorPrimario);
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card {
    position: relative;
    background-color: var(--colorBlanco);
    border-radius: 2rem;
    width: 300px;
}

.card::before {
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: var(--colorPrimario);
    border-radius: 2rem 2rem 0 0;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    position: relative;
    z-index: 100;
}

.card .media-icons {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .media-icons i {
    color: var(--colorGrisOscuro);
    margin: 0.2rem;
    opacity: 0.85;
    transition: all 0.5s ease-in;
}

.card .media-icons i:hover {
    opacity: 1;
    cursor: pointer;
}

.card .card-content .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    line-height: 1.2rem;
}

.card .card-content .name {
    font-size: var(--fuentePrincipal);
    font-size: 1rem;
    font-weight: 300;
}

.card .card-content .profession {
    font-size: var(--fuentePrincipal);
    font-size: 1rem;
    font-weight: 500;
}

.card .rating {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.card .rating i {
    font-size: 1.2rem;
    color: var(--colorPrimario);
    margin: 0 0.2rem;
}

.card .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    width: 100%;
}

.card .buttons button {
    background-color: var(--colorGrisOscuro);
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    color: var(--colorBlanco);
    border-radius: 2rem;
    outline: none;
    transition: all 0.5s ease;
}

.card .buttons button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.navigation {
    position: relative;
    width: 80px;
    padding: 2rem 0.5rem;
}

.navigation .swiper-button-next,
.navigation .swiper-button-prev {
    background-color: var(--colorPrimario);
    padding: 0.5rem 0.25rem;
    border-radius: 0.5rem;
    height: 2rem;
    color: var(--colorGrisOscuro);
    transition: all 0.5s ease;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1rem;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 0.8;
    color: var(--colorBlanco);
}

.swiper-pagination-bullet {
    height: 0.7rem;
    width: 2.6rem;
    border-radius: 2.5rem;
    background-color: var(--colorPrimario);
}